[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fit -i "%h/Pictures/.wallpapers/glitch-city.png"
Restart=on-failure
